# Data Preparation

In [79]:
# Necessary Imports
import datetime
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression



# Will add more imports here later

In [62]:

#pre-set file path
file_path = "../dataset/rental-prediction/Non-Landed Housing/"

#combining all into one file for non-landed
df1 = pd.read_csv(file_path+"1-5.csv")
df2 = pd.read_csv(file_path+"6-10.csv")
df3 = pd.read_csv(file_path+"11-15.csv")
df4 = pd.read_csv(file_path+"16-20.csv")
df5 = pd.read_csv(file_path+"21-23,25-26.csv")
df6 = pd.read_csv(file_path+"27-28.csv")

df_nonLanded = pd.concat([df1,df2,df3,df4,df5,df6], axis=0, join='inner')
df_nonLanded = df_nonLanded.drop(["S/N"],axis=1)
df_nonLanded = df_nonLanded.drop(["Building/Project Name"],axis=1)
df_nonLanded = df_nonLanded.drop(["Street Name"],axis=1)
df_nonLanded = df_nonLanded.drop(["No. of Bedroom(for Non-Landed Only)"],axis=1)

df_nonLanded = df_nonLanded.replace({'Jan':'1-1'},regex=True)
df_nonLanded = df_nonLanded.replace({'Feb':'1-2'},regex=True)
df_nonLanded = df_nonLanded.replace({'Mar':'1-3'},regex=True)
df_nonLanded = df_nonLanded.replace({'Apr':'1-4'},regex=True)
df_nonLanded = df_nonLanded.replace({'May':'1-5'},regex=True)
df_nonLanded = df_nonLanded.replace({'Jun':'1-6'},regex=True)
df_nonLanded = df_nonLanded.replace({'Jul':'1-7'},regex=True)
df_nonLanded = df_nonLanded.replace({'Aug':'1-8'},regex=True)
df_nonLanded = df_nonLanded.replace({'Sep':'1-9'},regex=True)
df_nonLanded = df_nonLanded.replace({'Oct':'1-10'},regex=True)
df_nonLanded = df_nonLanded.replace({'Nov':'1-11'},regex=True)
df_nonLanded = df_nonLanded.replace({'Dec':'1-12'},regex=True)

df_nonLanded = df_nonLanded.replace({'-':'/'},regex=True)

df_nonLanded.to_csv(file_path+"Non-Landed.csv")

#df_nonLanded.head(50)

In [ ]:
#pre-set file path
file_path2 = "../dataset/rental-prediction/Landed Properties/"

#combining all into one file for landed
df1 = pd.read_csv(file_path2+"1-5.csv")
df2 = pd.read_csv(file_path2+"6-10.csv")
df3 = pd.read_csv(file_path2+"11-15.csv")
df4 = pd.read_csv(file_path2+"16-20.csv")
df5 = pd.read_csv(file_path2+"21-23,25-26.csv")
df6 = pd.read_csv(file_path2+"27-28.csv")

df_Landed = pd.concat([df1,df2,df3,df4,df5,df6], axis=0, join='inner')
df_Landed = df_Landed.drop(["S/N"],axis=1)
df_Landed = df_Landed.drop(["Building/Project Name"],axis=1)
df_Landed = df_Landed.drop(["Street Name"],axis=1)
df_Landed = df_Landed.drop(["No. of Bedroom(for Non-Landed Only)"],axis=1)
df_Landed.to_csv(file_path2+"Landed.csv")

#dropped the no of bedrooms as there was no data recorded

In [ ]:
file_path3 = "../dataset/rental-prediction/Executive Condominiums/"

df1 = pd.read_csv(file_path3+"16-20.csv")
df2 = pd.read_csv(file_path3+"21-23,25-26.csv")
df3 = pd.read_csv(file_path3+"27-28.csv")

df_EC = pd.concat([df1,df2,df3], axis=0, join='inner')
df_EC = df_EC.drop(["S/N"],axis=1)
df_EC = df_EC.drop(["Building/Project Name"],axis=1)
df_EC = df_EC.drop(["Street Name"],axis=1)
df_EC = df_EC.drop(["No. of Bedroom(for Non-Landed Only)"],axis=1)

df_EC.to_csv(file_path3+"Executive Condominiums.csv")

In [ ]:
df_nonLanded.info()

In [ ]:
df_nonLanded.head()

In [63]:

# Convert month column to 'month' type

df_nonLanded['Lease Commencement Date'] = pd.to_datetime(df_nonLanded['Lease Commencement Date'])
# Convert month to ordinal type
df_nonLanded['Lease Commencement Date'] = df_nonLanded['Lease Commencement Date'].map(datetime.datetime.toordinal)


# Check data types of columns
df_nonLanded.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 411059 entries, 0 to 10101
Data columns (total 5 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Postal District          411059 non-null  int64
 1   Type                     411059 non-null  object
 2   Monthly Gross Rent($)    411059 non-null  int64
 3   Floor Area (sq ft)       411059 non-null  object
 4   Lease Commencement Date  411059 non-null  int64
dtypes: int64(3), object(2)
memory usage: 18.8+ MB

In [ ]:
df_Landed.info()

In [ ]:
df_EC.info()

In [64]:
# Find out mean, median, standard deviation, etc
df_nonLanded.describe()

       Postal District  Monthly Gross Rent($)  Lease Commencement Date
count    411059.000000          411059.000000            411059.000000
mean         13.085309            3590.266475            736861.506601
std           6.397291            2139.177853               533.824179
min           1.000000             307.000000            735968.000000
25%           9.000000            2350.000000            736338.000000
50%          13.000000            3000.000000            736706.000000
75%          18.000000            4000.000000            737426.000000
max          28.000000          170000.000000            737794.000000

In [65]:
# Checks how many rows/columns are there
df_nonLanded.shape

(411059, 5)

## Check for null/empty values

In [66]:
df_nonLanded.keys()

Index(['Postal District', 'Type', 'Monthly Gross Rent($)',
       'Floor Area (sq ft)', 'Lease Commencement Date'],
      dtype='object')

In [67]:
# Remove month, storey_range column later
df_nonLanded = pd.get_dummies(df_nonLanded, columns=['Type', 'Floor Area (sq ft)'])
df_nonLanded.head()

,Postal District,Monthly Gross Rent($),Lease Commencement Date,Type_Non/landed Properties,Floor Area (sq ft)_1000 to 1100,Floor Area (sq ft)_1100 to 1200,Floor Area (sq ft)_1200 to 1300,Floor Area (sq ft)_1300 to 1400,Floor Area (sq ft)_1400 to 1500,Floor Area (sq ft)_1500 to 1600,...,Floor Area (sq ft)_2900 to 3000,Floor Area (sq ft)_300 to 400,Floor Area (sq ft)_400 to 500,Floor Area (sq ft)_500 to 600,Floor Area (sq ft)_600 to 700,Floor Area (sq ft)_700 to 800,Floor Area (sq ft)_800 to 900,Floor Area (sq ft)_900 to 1000,Floor Area (sq ft)_<= 200,Floor Area (sq ft)_>3000
0,4,2650,737794,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,4,7500,737794,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,5000,737794,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2,5700,737794,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,1,4350,737794,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [68]:
df_nonLanded.shape

(411059, 34)

# Training Model - Regression
- We will test the training of model first.

In [69]:
X = df_nonLanded.drop(['Monthly Gross Rent($)'], axis=1)
Y = df_nonLanded['Monthly Gross Rent($)']

#print(X)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

       Postal District  Lease Commencement Date  Type_Non/landed Properties  \
0                    4                   737794                           1
1                    4                   737794                           1
2                    3                   737794                           1
3                    2                   737794                           1
4                    1                   737794                           1
...                ...                      ...                         ...
10097               27                   735968                           1
10098               28                   735968                           1
10099               27                   735968                           1
10100               27                   735968                           1
10101               28                   735968                           1

       Floor Area (sq ft)_1000 to 1100  Floor Area (sq ft)_1100 to 1200  \
0                                    0                                0
1                                    0                                0
2                                    1                                0
3                                    0                                0
4                                    0                                0
...                                ...                              ...
10097                                0                                0
10098                                0                                1
10099                                0                                0
10100                                1                                0
10101                                0                                0

       Floor Area (sq ft)_1200 to 1300  Floor Area (sq ft)_1300 to 1400  \
0                                    0                                0
1                                    0                                0
2                                    0                                0
3                                    0                                0
4                                    0                                0
...                                ...                              ...
10097                                0                                0
10098                                0                                0
10099                                0                                0
10100                                0                                0
10101                                0                                1

       Floor Area (sq ft)_1400 to 1500  Floor Area (sq ft)_1500 to 1600  \
0                                    0                                0
1                                    0                                0
2                                    0                                0
3                                    0                                0
4                                    0                                0
...                                ...                              ...
10097                                0                                0
10098                                0                                0
10099                                1                                0
10100                                0                                0
10101                                0                                0

       Floor Area (sq ft)_1600 to 1700  ...  Floor Area (sq ft)_2900 to 3000  \
0                                    0  ...                                0
1                                    0  ...                                0
2                                    0  ...                                0
3                                    0  ...                                0
4                                    0  ...                                0
...                                ...  ...                              ...
10097                                0  ...                                0
10098                                0  ...                                0
10099                                0  ...                                0
10100                                0  ...                                0
10101                                0  ...                                0

       Floor Area (sq ft)_300 to 400  Floor Area (sq ft)_400 to 500  \
0                                  0                              1
1                                  0                              0
2                                  0                              0
3                                  0                              0
4                                  0                              0
...                              ...                            ...
10097                              0                              0
10098                              0                              0
10099                              0                              0
10100                              0                              0
10101                              0                              0

       Floor Area (sq ft)_500 to 600  Floor Area (sq ft)_600 to 700  \
0                                  0                              0
1                                  0                              0
2                                  0                              0
3                                  0                              0
4                                  0                              0
...                              ...                            ...
10097                              0                              0
10098                              0                              0
10099                              0                              0
10100                              0                              0
10101                              0                              0

       Floor Area (sq ft)_700 to 800  Floor Area (sq ft)_800 to 900  \
0                                  0                              0
1                                  0                              0
2                                  0                              0
3                                  0                              1
4                                  0                              0
...                              ...                            ...
10097                              1                              0
10098                              0                              0
10099                              0                              0
10100                              0                              0
10101                              0                              0

       Floor Area (sq ft)_900 to 1000  Floor Area (sq ft)_<= 200  \
0                                   0                          0
1                                   0                          0
2                                   0                          0
3                                   0                          0
4                                   0                          0
...                               ...                        ...
10097                               0                          0
10098                               0                          0
10099                               0                          0
10100                               0                          0
10101                               0                          0

       Floor Area (sq ft)_>3000
0                             0
1                             0
2                             0
3                             0
4                             0
...                         ...
10097                         0
10098                         0
10099                         0
10100                         0
10101                         0

[411059 rows x 33 columns]

In [70]:
reg = LinearRegression()

In [71]:
reg.fit(X_train,y_train)

LinearRegression()

In [72]:
test = reg.predict(X_test)
print(test)

[5734.74317027 2890.417207   2795.01459894 ... 2753.662398   3682.71429824
 4301.78612613]

In [82]:
mse = mean_absolute_error(y_train, reg.predict(X_train))
print("Mean Absolute Error on training data: {:.4f}".format(mse))

mse = mean_absolute_error(y_test, reg.predict(X_test))
print("Mean Absolute Error on validation data: {:.4f}".format(mse))

Mean Absolute Error on training data: 713.6758
Mean Absolute Error on validation data: 716.7203